*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
  width: 100%;
  padding: 20px 20px;
  border-bottom: 1px solid #e4e6f1;
  h2 {
    font-weight: 500;
  }
}

.wrapper {
  display: flex;
}

.widgets {
  width: 300px;
  height: 91vh;
  padding: 30px 30px 0 30px;
  border-right: 1px solid #e4e6f1;
}

.widgets__wrapper {
  width: 210px;
  height: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  .widgets__item {
    width: 100px;
    height: 85px;
    padding: 15px 10px;
    background-color: #f6f9fe;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .widgets__item__title {
      font-weight: 400;
      font-size: 12px;
      color: rgba(37, 42, 50, 1);
    }
  }
}

main {
  width: 100%;
}

.empty {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e4e6f1;
}

.constructor {
  width: 45%;
  background-color: #f6f9fe;
  height: 82.5vh;
  border-right: 1px solid #e4e6f1;
  padding: 26px 30px 0 30px;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

.constructor__item {
  width: 100%;
  min-height: 85px;
  background-color: #f6f9fe;
  border: 1px solid rgba(1, 1, 1, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
  }
}

.view {
  width: 55%;
  height: 82.5vh;
  padding: 26px 30px 0 30px;
  overflow: auto;
}

.view__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 450px;
  }
  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
  }
  p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: rgba(151, 170, 205, 1);
  }

  button {
    width: 145px;
    height: 40px;
    color: #fff;
    border: none;
    background-color: rgba(67, 104, 224, 1);
    border-radius: 4px;
  }
}
